#main-wrap {
	max-width: 35em;
	padding: .5em;
	margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Source Sans Pro', Helvetica, sans-serif;
	margin-top: 1em !important;
	display: block;
}

h1,
h2 {
	text-align: center;
}

.sub-h2 {
	color: #555;
}

.week-indicator {
	border-bottom: 1px solid #777;
	color: #777;
	display: block;
	margin: .8em 0;
	width: 100%;
}

.definition:before {
	content: 'Definition: ';
}