#main-wrap {
	max-width: 35em;
	padding: .5em;
	margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Source Sans Pro', Helvetica, sans-serif;
	margin-top: 1em !important;
	display: block;
}

h1:hover .anchor-link:before,
h2:hover .anchor-link:before,
h3:hover .anchor-link:before,
h4:hover .anchor-link:before,
h5:hover .anchor-link:before,
h6:hover .anchor-link:before {
	content: '\00B6';
    color: #555;
    font-size: .8em;
}

a.anchor-link {
    text-decoration: none;
    margin-left: .5em;
    font-size: .8em;
}

h1,
h2 {
	text-align: center;
}

.sub-h2 {
	color: #555;
}

.week-indicator {
	border-bottom: 1px solid #777;
	color: #777;
	display: block;
	margin: .8em 0;
	width: 100%;
}

.definition:before {
	content: 'Definition: ';
}

.two-col {
	-webkit-column-count: 2;
	column-count: 2;
}

.two-col h3,
.two-col h4,
.two-col h5,
.two-col h6 {
	margin-top: 0 !important;
	padding-top: 0 !important;
}

figure img {
	height: auto;
	margin: 0 10%;
	max-width: 80%;
	transition: all .3s ease;
}

figure img:hover {
	margin-left: -5%;
	max-width: 110%;
}

figure figcaption {
	color: #555;
	text-align: center;
}

.main-foot {
	border-top: 1px solid #333;
	margin-top: 5em;
}

.main-foot ul {
	margin-left: 0;
	text-indent: 0;
	padding-left: 0;
}
.main-foot ul li {
	display: inline-block;
	width: 32%;
}

.main-foot ul li:nth-child(1) {
	text-align: left;
}

.main-foot ul li:nth-child(2) {
	text-align: center;
}

.main-foot ul li:nth-child(3) {
	text-align: right;
}

.main-foot .kopimi {
	width: 3em;
	height: 3em;
	display: inline-block;
}